<div>
  <h1 style="font-size: 3rem;">Install Entity Framework Core</h1>
  <br>
  <p>Entity Framework core can be used with .NET Core or .NET 4.6 based applications. Here, you will learn to install
    and use Entity Framework Core 2.0 in .NET Core applications using Visual Studio</p>
  <p>Entity Framework is not a part of .NET Core and Standard .NET framework. It is avalible as a Nuget pakage. You need
    to install Nuget packages for the following two things to use EF Core inyour application:</p>
  <p>1. EF Core DB provider</p>
  <p>2. EF Core tools</p>
  <p>EF Core is intended to be used with .NET Core applications. However, it can also be used with standard .NET 4.5 +
    framwork based applications.</p>
  <br>
</div>