<div>
    <h1 style="font-size: 3rem;">C# - Overview</h1>
    <br>
    <p>Lý do khiến C# có thể trở thành một ngôn ngữ lập trình phổ biến</p>
    <ul>
        <li>Là một ngôn ngữ hiện đại</li>
        <li>Hướng đối tượng</li>
        <li>Hướng thành phần</li>
        <li>Dễ để học</li>
        <li>Là ngôn ngữ cấu trúc</li>
        <li>Tạo ra các chương trình hiệu quả</li>
        <li>Có thể được biên dịch trên nhiều nền tảng</li>
        <li>Là 1 phần của .Net Framework</li>
    </ul>

    <p>Một số tính năng quan trọng của C#</p>
    <ul>
        <li>Boolean Conditions</li>
        <li>Automatic Garbage Collection</li>
        <li>Standard Library</li>
        <li>Assembly Versioning</li>
        <li>Properties and Events</li>
        <li>Delegates and Events Management</li>
        <li>Easy-to-use Generics</li>
        <li>Indexers</li>
        <li>Conditional Compilation</li>
        <li>Simple Mlitithreading</li>
        <li>LINQ and Lambda Expressions</li>
        <li>Integration with Windows</li>
    </ul>

</div>