<div>
  <h1 style="font-size: 3rem;">Entity Framework Core: Saving Data in Connected Scenario</h1>
  <br>
  <p>Entity Framework Core provides diffent ways to add, update, or delete data in the underlying database.
    An entity contains data in its scalar property will be either inserted or updated or deleted based on its
    EntityState.
  </p>
  <br>

  <!-- C#/VB.NET Functions in Queries  -->
  <span style="font-size: 2rem;" class="pb-0">C#/VB.NET Functions in Queries</span>
  <div class="border-b1"></div>
  <p>EF Core has a new feature in LINQ-to-Entities where we can include C# or VB.NET functions in the query. This was
    not possible in EF 6.</p>
  <pre>
        {{text1}}
      </pre>
  <p>In the above L2E query, we have included the GetName() C# function in the Where clause. This will execute the
    following query in the database</p>
  <pre>
        {{text2}}
      </pre>
  <br>

  <!-- Eager Loading
    -->
  <span style="font-size: 2rem;" class="pb-0">Eager Loading
  </span>
  <div class="border-b1"></div>
  <p>Entity Framework Core supports eager loading of related entities, same as EF 6, using the Include() extension
    method and projection query. In addition to this. it also provides the ThenInclude() extension method to load
    multiple levels of related entities.</p>

  <!-- Include
    -->
  <span style="font-size: 2rem;" class="pb-0">Include
  </span>
  <div class="border-b1"></div>
  <p>Unlike EF 6, we can spectify a lambda expression as a parameter in the Include() method to specify a navigation
    property as shown below.</p>
  <pre>
        {{text3}}
      </pre>
  <p>In the above example, .Include(s=> s.Grade) passes the lambda expression s=> s.Grade to specify a reference
    property to be loaded with Student entity data from the database in a single SQL query.
    The above query executes the following SQL query in the database</p>
  <pre>
        {{text4}}
      </pre>
  <p>We can also spectify property name as a string in the Include() method, same as in EF 6.</p>
  <pre>
      {{text5}}
    </pre>
  <p>The example above is not recommend because it will throw a runtime exception if a property name is misspelled or
    does not exist. Always use the Include() method with a lambda expression, so that the error can be detected during
    complie time.</p>
  <p>The Include() extention method can also be used after the FromSql() method, as showm below</p>
  <pre>
      {{text6}}
    </pre>
  <strong>Note:</strong>
  <p>The Include() extension method cannot be used after the DbSet.Find() method. E.g.
    context.Students.Find(1).Include() is not possible in EF Core 2.0. This may be possible in future versions.</p>

  <!-- Multiple Include -->
  <span style="font-size: 2rem;" class="pb-0">Multiple Include
  </span>
  <div class="border-b1"></div>
  <p>Use the Include() method multiple times to load multiple navigation properties of the same entity. For example, the
    following code loads Grade and StudentCourses related entities of Student</p>
  <pre>
        {{text7}}
      </pre>
  <p>The above query will execute two SQL queries in a single database round trip.</p>
  <pre>
      {{text8}}
    </pre>

  <!-- ThenInclude -->
  <span style="font-size: 2rem;" class="pb-0">ThenInclude
  </span>
  <div class="border-b1"></div>
  <p>EF Core introduced the new ThenInclude() extension method to load multiple levels of related entities. Consider the
    following example</p>
  <pre>
      {{text9}}
    </pre>
  <p>In the above example, .Include(s=> s.Grade) will load the Grade reference navigation property of the Student
    entity.
    ThenInclude(g => g.Teachers) will load the Teacher collection property of the Grade entity. The ThenInclude method
    must be called after the Include method. The above will execute the following SQL queries in the database
  </p>
  <pre>
      {{text10}}
    </pre>

  <!-- Projection Query -->
  <span style="font-size: 2rem;" class="pb-0">Projection Query
  </span>
  <div class="border-b1"></div>
  <p>We can also load multiple related entities by using the projection query instead of Include() or ThenInclude()
    methods. The following example demonstrates the projection query to load the Student, Grade, and Teacher entities
  </p>
  <pre>
      {{text11}}
    </pre>
  <p>In the above example, the .Select extension methof is used to include the Student, Grade, and Teacher entities in
    the result.
    This will execute the same SQL query as the above ThenInclude() method.
  </p>
</div>