<div>
  <h1 style="font-size: 3rem;">Querying in Entity Framework Core</h1>
  <br>
  <p>The DbContext class is an integal part of Entity Framework. An instance of DbContext represents a sesssion with the
    database which can be used to query and save instances of your entities to a database. DbContext is a combination of
    the Unit Of Work and Repository patterns.
  </p>
  <p>DbContext in EF Core allows us to perform following tasks:</p>
  <p>1. Manage database connection</p>
  <p>2. Configure model & relationship</p>
  <p>3. Querying database</p>
  <p>4. Saving data to the database</p>
  <p>5. Configure change tracking</p>
  <p>6. Caching</p>
  <p>7. Transaction management</p>
  <br>

  <p>To use DbContext in our application, we need to create the class that derives from DbContext, also known as context
    class.
    This context class typically includes DbSet TEntity> properties for each entity in the model.
  </p>

  <!-- DbContext Methods  -->
  <span style="font-size: 2rem;" class="pb-0">DbContext Methods</span>
  <div class="border-b1"></div>
  <table>
    <thead>
      <th>Method</th>
      <th>Usage</th>
    </thead>
    <tbody>
      <tr>
        <td>Add</td>
        <td>Adds a new entity to DbContext with Added state and start tracking it. This new entity data will be inserted
          into the database when SaveChanges() is call</td>
      </tr>
      <tr>
        <td>AddAsync</td>
        <td>Asynchronous method for adding a new entity to DbContext with Added state and starts tracking it. This new
          entity data will be inserted into database when SaveChangesAsync() is called.</td>
      </tr>
      <tr>
        <td>AddRange</td>
        <td>Adds a collection of new entities to DbContext with Added state and starts tracking it. This new entity data
          will be inserted into database whrn SaveChanges() is called.</td>
      </tr>
      <tr>
        <td>AddRangeAsync</td>
        <td>Asynchronous method for adding a collection of new entities which will be saved on SaveChangesAsync() is
          called.</td>
      </tr>
      <tr>
        <td>Attach</td>
        <td>Attaches a new or existing entity to DbContext with Unchanged state and starts tracking it.</td>
      </tr>
      <tr>
        <td>AttachRange</td>
        <td>Attches a collection of new or existing entities to DbContext with Unchanged state and starts tracking it.
        </td>
      </tr>
      <tr>
        <td>Entry</td>
        <td>Gets an EntityEntry for the given entity. The entry provides access to change tracking information and
          operations for the entites.</td>
      </tr>
      <tr>
        <td>Find</td>
        <td>Find an Entity with the given primary key values</td>
      </tr>
      <tr>
        <td>FindAsync</td>
        <td>Asynchronous method for finding an entity with the given primary key values.</td>
      </tr>
      <tr>
        <td>Remove</td>
        <td>Sets Deleted state to the specified entity which will delete the data when SaveChanges() is called.</td>
      </tr>
      <tr>
        <td>RemoveRange</td>
        <td>Sets Deleted state to a collection of entities which will delete the data in a single DB round trip when
          SaveChanges() is called.</td>
      </tr>
      <tr>
        <td>SaveChanges</td>
        <td>Execute INSERT, UPDATE or DELETE command to the database for the entities with Added, Modified or Deleted
          state.</td>
      </tr>
      <tr>
        <td>SaveChangesAsync</td>
        <td>Asynchronous method of SaveChanges()</td>
      </tr>
      <tr>
        <td>Set</td>
        <td>Creates a DbSet TEntity> that can be used to query and save instances of TEntity</td>
      </tr>
      <tr>
        <td>Update</td>
        <td>Attaches disconnected entity with Modified state and start tracking it. The data will be saved when
          SaveChanges() is called.</td>
      </tr>
      <tr>
        <td>UpdateRange</td>
        <td>Attaches a collection of disconnected entities with Modified state and start tracking it. The data will be
          saved when SaveChanes() is called</td>
      </tr>
      <tr>
        <td>OnConfiguring</td>
        <td>Override this method to configure the database (and other options) to be used for this context. This method
          is called for each instance of the context that is created</td>
      </tr>
      <tr>
        <td>OnModelCreating</td>
        <td>Override this method to further configure the model that was discovered by convention from the entity types
          exposed in DbSet TEntity> properties on your derived context</td>
      </tr>
    </tbody>
  </table>
  <br>

  <!-- DbContext Methods  -->
  <span style="font-size: 2rem;" class="pb-0">DbContext Methods</span>
  <div class="border-b1"></div>
  <table>
    <thead>
      <th>Method</th>
      <th>Usage</th>
    </thead>
    <tbody>
      <tr>
        <td>ChangeTracker</td>
        <td>Provides access to information and operations for entity instances this context is tracking</td>
      </tr>
      <tr>
        <td>Database</td>
        <td>Provides access to database related information and operations for this context</td>
      </tr>
      <tr>
        <td>Model</td>
        <td>Returns the metadata about the shape of entities, the relationship between them, and how they map to the
          database</td>
      </tr>
    </tbody>
  </table>
</div>