<div>
  <h1 style="font-size: 3rem;">C# - Program Structure</h1>
  <br>
  <p>Một chương trình C# bao gồm</p>
  <ul>
    <li>Namespace declaration</li>
    <li>A class</li>
    <li>Class methods</li>
    <li>Class attributes</li>
    <li>A Main method</li>
    <li>Statements and Expressions</li>
    <li>Comments</li>
  </ul>
  <br>
  <pre>
          <code>{{text1}}</code>
      </pre>
  <strong>Lưu ý</strong>
  <ul>
    <li>C# phân biệt chữ hoa chữ thường</li>
    <li>Câu lệnh và biểu thức kết thúc bằng dấu chấm phẩy (;)</li>
    <li>Việc thực thi chương trình bắt đầu tại Main method</li>
    <li>Khác với Java file name có thể khác class name</li>
  </ul>
  <br>
</div>