<div class="header-container">
  <mat-divider vertical class="vertical-divider"></mat-divider>
  <div>
    <h2>{{componentTitle}}</h2>
  </div>
  <div class="d-flex align-items-center justify-content-start w-100" style="margin-left: 1rem;">
    <span class="d-flex align-items-center p-2" style="cursor: pointer;" routerLink="/angular">Angular</span>
    <span class="d-flex align-items-center p-2" style="cursor: pointer;" routerLink="/csharp">C#</span>
    <span class="d-flex align-items-center p-2" style="cursor: pointer;" routerLink="/dotnetcore">ASP.NetCore</span>
  </div>
</div>