<div>
  <h1 style="font-size: 3rem;">One-to-Many Relationship Conventions in Entity Framework Core</h1>
  <br>
  <p>In the previous chapter, you learned about the EF conventions which map entities to different objects of the
    database. Here, you will learn about the relationship conventions between two entitites classes that result in
    one-to-many relationships between corresponding tables in the database.
  </p>
  <p>Entity Framework Core follows the same convention as Entity Framework 6.x conventions for one-to-many relationship.
    The only difference is that EEF Core creates a foreign key column with the same name as navigation property name and
    not as NavigationPropertyName_PrimaryKeyPropertyName</p>
  <p>
    Let's look at the different conventions which automatically configure a one-to-many relationship betwwen the
    following Student and Grade entities.
  </p>
  <pre>
      {{text1}}
    </pre>
  <p>After appling the conventions for one-to-many relationship in the entities above, the database tables for Student
    and Grade entities will look like below, where the Students table includes a foreign key GradeId.</p>
  <br>

  <!-- Convention 1  -->
  <span style="font-size: 2rem;" class="pb-0">Convention 1</span>
  <div class="border-b1"></div>
  <p>We want to establish a one-to-many relationship where many students are associated with one grade. This can be
    achieved by inculding a reference navigation property in the dependent entity as shown below.(here, the Student
    entity is the dependent entity and the Grade entity is the principal entity)</p>
  <pre>
      {{text2}}
    </pre>
  <p>In the example above, the Student entity class includes a reference navigation property of Grade type. This allows
    us to link the same Grade to many different Student entities, which creates a one-to-many relationship between them.
    This will produce a one-to-many relationship between the Students and Grades tables in the database, where Students
    table includes a nullable foreign key GradeId, as shown below. EF Core will create a shadow peoperty for the foreign
    key named GradeId in the conceptual model, which will be mapped to the GradeId foreign key column in the Students
    table.</p>
  <strong>Note:</strong>
  <p>The reference property Grade is nullable, so it creates a nullable ForeignKey GrandeId in the Students table. You
    can configure NotNull foreign keys using fluent API</p>
  <br>

  <!-- Convention 2 -->
  <span style="font-size: 2rem;" class="pb-0">Convention 2
  </span>
  <div class="border-b1"></div>
  <p>Another convention is to include a collection navigation property in the principal entity as shown below</p>
  <pre>
    {{text3}}
  </pre>
  <p>In the example above, the Grade entity includes a collection navigation property of type ICollection student>. This
    will allow us to add multiple Student entities to a Grade entity, which results in a one-to-many relationship
    between Grades tables in the database.</p>
  <br>

  <!-- Convention 3 -->
  <span style="font-size: 2rem;" class="pb-0">Convention 3
  </span>
  <div class="border-b1"></div>
  <p>Another EF convention for the one-to-many relationship is to include navigation property at both ends, which will
    also result in a one-to-many relationship</p>
  <pre>
      {{text4}}
    </pre>
  <p>In the example above, the Student entity includes a reference navigation property of Grade type and the Grade
    entity class includes a collection navigation property ICollection Student>, which result in a one-to-many
    relationship between corresponding database tables Students and Grades, same as in convention 1.</p>

  <!-- Convention 4 -->
  <span style="font-size: 2rem;" class="pb-0">Convention 4
  </span>
  <div class="border-b1"></div>
  <p>Defining the relationship fully at both ends with the foreign key property in the dependent entity creates a
    one-to-many relationship.</p>
  <pre>
      {{text5}}
    </pre>
  <p>In the above example, the Student entity includes a foreign key property GradeId of type int and its reference
    navigation property Grade. At the other end, the Grade entity also includes a collection navigation property
    ICollection Student>. This will create a one-to-many relationship with the NotNull foreign key column in the
    Students table, as shown below</p>
  <p>If you want to make the foreign key GradedId as nullable, then use nullable int data type (Nullable int> or int?),
    as shown below</p>
  <pre>
      {{text6}}
    </pre>
  <p>Therefore, these are the conventions which automatically create a one-to-many relationship in the corresponding
    database tables. If entities do not follow the above conventions, then you can use Fluent API to configure the
    one-to-many relationship.</p>
</div>